* {

    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(29, 72, 108);
}

.paint-Website-heading {
    font-style: italic;
    font-size: 4rem;
    font-weight: bolder;
    margin-left: 40rem;
    color: azure;
    margin-top: 2rem;
}

#options-section {
    width: 20%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;

}

#colors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: black;
}

#canvas-section {
    width: 60%;
    height: 50rem;
    border-radius: 50px;
    background-color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.colors {
    width: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}


.tools {
    width: 4rem;
    margin-top: 2rem;
    cursor: pointer;
}



#colors-heading {
    margin-top: 4rem;
    font-size: 2rem;
}

#color-blue {
    background-color: rgb(21, 51, 222);
}

#color-red {
    background-color: red;
}

#color-green {
    background-color: green;
}

#color-black {
    background-color: black;

}

#color-yellow {
    background-color: yellow;
}

.enlarge-color {
    padding: 3rem;
    border-radius: 3rem;
}

.enlarge-tool {
    width: 6rem;
}

added-element {
    width: 2000px;
    height: 20px;
    background-color: red;
    border-radius: 100px;
    position: absolute;

    /* Allow the mouse to pass through the added element */
}